/*

*/
.text-3x {
  font-size: 3em;
}
.text-2x {
  font-size: 2em;
}
.text-lg {
  font-size: 18px;
}
.text-sm {
  font-size: 16px;
}
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 13px;
}
.text-white {
  color: #edf1f2;
}
.text-dark {
  color: #3a3f51;
}
.cursor {
  cursor: pointer;
}
.pos-rlt {
  position: relative;
}
.pos-abt {
  position: absolute;
}
.l-h {
  line-height: 1.42857143;
}
.l-h-0x {
  line-height: 0;
}
.l-h-1x {
  line-height: 1.2;
}
.l-h-2x {
  line-height: 2em;
}
.b-all {
  border: 1px solid #ddd;
}
.bg-base {
  background: #f0f3f4;
}
.marginer-lg {
  margin: 3em;
}
.marginer-lg-r {
  margin-right: 3em;
}
.marginer-lg-t {
  margin-top: 3em;
}
.marginer-lg-l {
  margin-left: 3em;
}
.marginer-lg-b {
  margin-bottom: 3em;
}
.no-margin-r {
  margin-right: 0!important;
}
.marginer-md {
  margin: 2em;
}
.marginer-md-r {
  margin-right: 2em;
}
.marginer-md-t {
  margin-top: 2em;
}
.marginer-md-l {
  margin-left: 2em;
}
.marginer-md-b {
  margin-bottom: 2em;
}
.marginer-sm {
  margin: 1em;
}
.marginer-sm-r {
  margin-right: 1em;
}
.marginer-sm-t {
  margin-top: 1em;
}
.marginer-sm-l {
  margin-left: 1em;
}
.marginer-sm-b {
  margin-bottom: 1em;
}
.padding-md {
  padding: 2em;
}
.padding-md-r {
  padding-right: 2em ;
}
.padding-md-l {
  padding-left: 2em ;
}
.padding-md-t {
  padding-top: 2em ;
}
.padding-md-b {
  padding-bottom: 2em ;
}
.padding-lg {
  padding: 3em;
}
.padding-lg-r {
  padding-right: 3em ;
}
.padding-lg-l {
  padding-left: 3em ;
}
.padding-lg-t {
  padding-top: 3em ;
}
.padding-lg-b {
  padding-bottom: 3em ;
}
.padding-sm {
  padding: 1em;
}
.padding-sm-r {
  padding-right: 1em ;
}
.padding-sm-l {
  padding-left: 1em ;
}
.padding-sm-t {
  padding-top: 1em ;
}
.padding-sm-b {
  padding-bottom: 1em ;
}
.bg-white {
  background-color: #ddd;
}
.padder-lg {
  padding: 3em;
}
.padder-h-xs {
  padding-left: 1em;
  padding-right: 2em;
}
.padder-v-xs {
  padding-top: 1em;
  padding-bottom: 1em;
}
.no-margin {
  margin: 0!important;
}
.no-padding {
  padding: 0!important;
}
.text-thin {
  font-weight: bold;
}
.clear:after {
  display: inline-block;
  content: "";
  clear: both;
}
a.hover_red:hover {
  color: red!important;
  border-bottom: 4px solid red;
}
.border {
  border: 1px solid #edf1f2;
}
.border-t-4p {
  border-top: 4px solid #edf1f2;
}
.border-b-1p {
  border-bottom: 1px solid #edf1f2;
  padding-bottom: 0.5em;
}
.bg-none {
  background: none!important;
}
.border-none {
  border: none!important;
}
.minren {
  height: 130px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover ;
  background-position: top center;
  background-image: url("../images/minren1.png");
}
.weichat_img {
  width: 70px;
  height: 70px;
}
.fa:after {
  display: inline-block;
  content: "";
  padding-left: 7px ;
}
.footer-bg {
  background-color: #26292E;
  color: #fff;
}
.header {
  background-color: #fff;
  height: 4em;
}
.banner .h2 {
  top: 2em;
}
.banner-r1 {
  background: #1ABAC3;
}
